<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/icon.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home">
  <div class="row row-custom">
    <div class="col">
      <a style="color:white;">
        <span class="font-xsmall">
          <ion-icon name="lock"> </ion-icon> Écran verrouillé</span>
      </a>
    </div>

    <div class="col">
      <a style="color:white;" class="font-xsmall">
        <ion-icon float-right name="bulb"> </ion-icon>
      </a>
    </div>
  </div>
  <ion-card>
    <ion-card-content>
      <!-- Add card content here! -->
      <div class="row">
        <div class="col">
          <span class="font-small">
            {{currentDate}}
          </span>
          <br>
          <span class="font-meduim">
            {{currentTime}}
          </span>
        </div>
        <div class="col" text-center>
          <div>
            <span class="font-large">{{currentWeather.temp}}</span>
            <span style="float:inline-end;" class="font-small">°C</span>
          </div>
          <div class="font-xsmall">
            <span>Max:{{maxWeather}}°</span>
            <span>Min:{{minWeather}}°</span>
          </div>
        </div>
        <div class="col">
          <div class="container" style="display: ruby-text; float: inline-end;">
          <div>
            <ion-icon float-right name="bulb"> </ion-icon>
          </div>
          <div float-right>
            <img style="padding-right:5px;" height="64px" width="64px" src="assets/imgs/weather/{{currentWeather.symbol}}.png" alt="icon">
          </div>

          </div>

        </div>
      </div>

      <div class="row ">
        <div class="col font-small " text-center>
          <span>Vent: {{currentWeather.dir_vent}}</span>
          <span> {{currentWeather.vit_vent}} km/h</span>
        </div>
      </div>
    </ion-card-content>

  </ion-card>
  <ion-card>

    <ion-card-content>
      <!-- Add card content here! -->

      <div>
        <ion-scroll scrollX="true" style="width:80vw; height:38vh;">
          <ion-row nowrap class="headerChip">
            <div *ngFor="let elm of weather3Hours" width="50px" style="padding:10px;">
              <span class="font-xsmall" width="50px">{{elm.hourevent}}</span>
              <br>
              <img style="max-width:30px;max-height:30px;" width="30px" height="30px" src="assets/imgs/weather/{{elm.symbol}}.png" alt="Img">
            </div>
          </ion-row>
          <ion-row>
            <div class="line-chart-container">
              <canvas id="lineChart" baseChart width="1650" height="150" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </ion-row>
        </ion-scroll>

        <div class="col" style="text-align:right;">
          <a style="color:white;text-decoration:underline;">plus de détails</a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-content>
      <!-- Add card content here! -->

      <div>

        <div class="row" *ngFor="let d of lineChartData" width="100vw">
          <div class="col font-xsmall text-border" *ngFor="let label of barChartLabels; let j=index">
            <a (click)='goDetails(j, label)'>{{label}}
            </a>
          </div>
        </div>
        <div class="row" *ngFor="let d of lineChartData" width="100vw">
          <div class="col" *ngFor="let label of barChartLabels; let j=index">
            <img src="assets/imgs/I.png" alt="Img">
          </div>
        </div>

        <div class="col-md-12">
          <div class="line-chart-container">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
              [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col" style="text-align:right;">
          <a style="color:white;text-decoration:underline;">plus de détails</a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>